.rmdp-input {
  padding: 0.75rem;
  height: unset;
}
.rmdp-container,
.rmdp-container input {
  width: 100%;
}
.time-radio span {
  font-weight: 500 !important;
}
.css-1g0prys-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
padding:0px !important;
}
.MuiAutocomplete-hasPopupIcon.css-1g0prys-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1g0prys-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding:0.75rem;
}
.time-radio label{
  display:flex;
  align-content: center;
}
.MuiClockNumber-root{
  color:#000 !important;
}
.MuiClockNumber-root.Mui-selected{
  color:#fff !important;
  background-color:#01a5ae !important;
  border-radius:50%;
}
.MuiPickersClockNumber-root{
  color:#000 !important;
}
.MuiPickersClockNumber-root.Mui-selected{
  color:#fff !important;
  background-color:#01a5ae !important;
  border-radius:50%;
}
/* desktop list view */
.MuiMultiSectionDigitalClockSection-item{
  color:#000 !important;
}
.MuiMultiSectionDigitalClockSection-item.Mui-selected{
  color:#fff !important;
  background-color:#01a5ae !important;
}
