/* globalStyles.css */
.css-o0cc1y-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
  min-width: 2rem !important;
}
.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.MuiMultiSectionDigitalClockSection-item.css-ojlsvt {
  min-width: 2rem !important;
}
